module.exports = {
  selenium_path: ':/home/user/src/selenium/',
  username: 'usuario',
  password: 'senha',
  page_url: 'https://www.facebook.com/minha-page-65165165163',
  movies: [
    `1986 - Castle in the Sky ~ O Castelo no Ceu.mkv`,
    `1988 - Grave of the Fireflies ~ Tumulo dos Vagalumes.mkv`,
    `1988 - My Neighbor Totoro ~ Meu Amigo Totoro.mkv`,
    `1989 - Kiki's Delivery service ~ O Servico de Entregas da Kiki.mkv`,
    `1991 - Only Yesterday ~ Memorias de ontem.mkv`,
    `1992 - Porco Rosso.mkv`,
    `1994 - Pom Poko.mkv`,
    `1995 - whispers of the heart ~ Sussuros do Coracao.mkv`,
    `1999 - My Neighbors the Yamadas ~ Meus Vizinhos os Yamadas.mkv`,
    `2001 - Spirited Away ~ A viagem de Chihiro.mp4`,
    `2002 - The Cat Returns ~ O Reino dos Gatos.mkv`,
    `2006 - Tales from Earthsea ~ Contos de Terramar.mkv`,
    `2010 - Arrietty ~ O Mundo dos Pequeninos.mkv`,
    `2011 - From up on Poppy Hill ~ Da Colina Kokuriko.mkv`,
    `2013 - The Wind Rises ~ Vidas ao Vento.mkv`,
  ],
  movies_folder: `G:\\Filme\\Studio.Ghibli.1986.2013.1080p\\`,
};
